.background-color-of-react-icons {
  background-color: white;
  min-height: 60vh;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.home-heading {
  font-family: Roboto;
}
.home-about-react-icons {
  font-size: 25px;
}
.link-items {
  text-decoration: none;
  outline: None;
  display: flex;
  align-items: center;
  font-family: Roboto;
}

.unorderlist-home-about-one {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-component-home {
  font-family: 'Roboto';
  text-decoration: none;
}

.container-header {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.website-logo-hamburger-image {
  height: 80px;
  width: 80px;
}
.hamburgericon {
  color: black;
}

.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  align-self: flex-end;
}
